<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web forms</title>
</head>
<body>
    <center>
        <h1>web forms by flask</h1>
        <form method="POST">
            {{enfo.sname.label}}
            {{enfo.sname}} <br><br>

            {{enfo.scollege.label}} 
            {{enfo.scollege}}<br><br>

            {{enfo.sage.label}} 
            {{enfo.sage}}<br><br>
            
            {{enfo.submit}}
        </form>
    </center>
</body>
</html>